version: 1
formatters:
  json:
    format: '{"time":"%(asctime)s","level":"%(levelname)s","name":"%(name)s","message":"%(message)s"}'
handlers:
  console:
    class: logging.StreamHandler
    formatter: json
    stream: ext://sys.stdout
root:
  level: INFO
  handlers: [console]
